.img-logo {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
}

.float-container {
    padding: 20px;
    width: 500px;
}

.username {
    width: 85%;
    float: left;
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
}
.button-logout {
    width: 15%;
    float: left;
}